# Byte-compiled / optimized / DLL files
__pycache__
**/__pycache__
**/*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

allen_coref
dragon3
dialogue.mp3
clausIE/__pycache__/
example video output
venv
*.mp3
*.jpg